.page_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.text {
  margin: 2rem 0 0 1rem;
}

@media (min-width: 901px) {
  .body {
    flex-direction: row;
  }

  .main_section {
    height: 100%;
    width: 100%;
  }
  .page_main {
    padding: 6rem;
  }
  .text {
    margin-top: 4rem;
  }
}

.layout_main {
  height: 100%;
  width: 100%;
  background: var(--smoke);
  color: var(--palatinate);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
